/* Game container, holds all things minesweeper */
.minesweeper-game {
  /* Sprite sizing */
  --var-sprite-tile-size: 16px;
  --var-sprite-smiley-size: 26px;
  --var-sprite-digit-height: 23px;
  --var-sprite-digit-width: 13px;

  /* Element sizing */
  --var-sizing-factor: 1.5;
  --var-tile-size: calc(--var-sizing-factor * --var-sprite-tile-size);
  --var-smiley-size: calc(--var-sizing-factor * --var-sprite-smiley-size);
  --var-digit-height: calc(--var-sizing-factor * --var-sprite-digit-height);
  --var-digit-width: calc(--var-sizing-factor * --var-sprite-digit-width);
}

/* Score or Timer, holds (3) digits */
.digit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grid of tiles */
.board {
  background-color: #00b483;
}

.tile {
  /* Classic theme by default */
  background: url("../resources/classic.png") no-repeat;

  min-width: var(--var-tile-size);

}

.smiley {
  min-width: var(--var-smiley-size);
}


/** ANALOG DIGITS **/
.digits > [data-digit="0"] {
  background-position: 126px 0px;
}

.digits > [data-digit="1"] {
  background-position: 0px 0px;
}

.digits > [data-digit="2"] {
  background-position: 14px 0px;
}

.digits > [data-digit="3"] {
  background-position: 28px 0px;
}

.digits > [data-digit="4"] {
  background-position: 42px 0px;
}

.digits > [data-digit="5"] {
  background-position: 56px 0px;
}

.digits > [data-digit="6"] {
  background-position: 70px 0px;
}

.digits > [data-digit="7"] {
  background-position: 84px 0px;
}

.digits > [data-digit="8"] {
  background-position: 98px 0px;
}

.digits > [data-digit="9"] {
  background-position: 112px 0px;
}


/** SMILEY FACES **/

.board > [data-smiley-state="happy"] {
  background-position: 0px 26px;
}

.board > [data-smiley-state="happy"].down {
  background-position: 27px 26px;
}

.board > [data-smiley-state="excited"] {
  background-position: 54px 26px;
}

.board > [data-smiley-state="sunny"] {
  background-position: 81px 26px;
}

.board > [data-smiley-state="dead"] {
  background-position: 108px 26px;
}


/** TILES - CONTROLS **/

.board > [data-tile-state="hidden"] {
  background-position: 0px -51px;
}

.board > [data-tile-state="hidden"].down {
  background-position: 17px -51px;
}

.board > [data-tile-state="flagged"] {
  background-position: 34px -51px;
}

.board > [data-tile-state="question"] {
  background-position: 51px -51px;
}

.board > [data-tile-state="question"].down {
  /* replace inner and outer */
  background-position: 68px -51px;
}


/** TILES - MINES: all are down **/
.board > [data-tile-state="mine"] {
  background-position: 85px -51px;
}

.board > [data-tile-state="mine-lose"] {
  background-position: 102px -51px;
}

.board > [data-tile-state="mine-wrong"] {
  background-position: 119px -51px;
}


/** TILES - NUMBERS: data-tile-state = {numbers 1-8} // all are down **/

.board > [data-tile-state="1"] {
  background-position: 0px -68px;
}

.board > [data-tile-state="2"] {
  background-position: 17px -68px;
}

.board > [data-tile-state="3"] {
  background-position: 34px -68px;
}

.board > [data-tile-state="4"] {
  background-position: 51px -68px;
}

.board > [data-tile-state="5"] {
  background-position: 68px -68px;
}

.board > [data-tile-state="6"] {
  background-position: 85px -68px;
}

.board > [data-tile-state="7"] {
  background-position: 102px -68px;
}

.board > [data-tile-state="8"] {
  background-position: 119px -68px;
}
